body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    height: 4rem;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

header h1{
    font-size: 40px;
    font-family: 'Playfair Display SC', serif;
}

.form_content #form_login{
    transition: transform .18s ease;
    transform: translateX(0);
    width: 70%;
}

.form_content #form_cadastro{
    position: absolute;
    transition: none;
    transform: translateX(400px);
    width: 70%;
}

.form_content.active{
    height: 550px;
}

.form_content.active #form_login{
    transition: none;
    transform: translateX(-400px);
}

.form_content.active #form_cadastro{
    transition: transform .18s ease;
    transform: translateX(0);
}

.form_content{
    position: relative;
    width: 400px;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f0f0;
    overflow: hidden;
    transition: height .2s ease;
}

.form_box h2{
    font-size: 25px;
    text-align: center;
}

.input_box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #3d3d3d;
    margin: 30px 0;
}

.input_box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    pointer-events: none;
    transition: .5s;
}

.input_box input:focus~label,
.input_box input:valid~label{
    top: -4px;
}

.input_box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
}

.remember{
    font-size: .9em;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember label input{
    accent-color: #162938;
    margin-right: 3px;
}

a{
    text-decoration: none;
    color: white;
}

.form_content a{
    color: #757373;
}

.btn{
    width: 100%;
    height: 35px;
    background: black;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
}

.register{
    font-size: .9em;
    color: #3d3d3d;
    text-align: center;
    font-weight: 500;
    margin: 20px 0 10px;
}

@media screen and (max-width: 480px){

    .form_content{
        background-color: white;
    }
}